:root {
    --main-title-color: #212121;
    --main-text-color: #757575;


}


body {
    font-family: "Roboto", sans-serif;
}

.list {
    list-style: none;
    text-decoration: none;
}


/*-----------header----------*/

.header {
    background: #FFFFFF;
}

.logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
     
}

.logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.header-nav {        

}

.header-item {
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

.header-contact-pre {

}

.header-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.nav-hover:hover {
    color: #2196F3;
}

/*-----------sectoin slogan----------*/

.slogan {
    background: #2F303A;
    background-size: 1600px 600px;
}

.slogan-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;     
}

.slogan-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    background-size: 200px 50px;
}

/*-----------subtitle----------*/

.section-subtitle {
    background: #FFFFFF;
}

.subtitle-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:  var(--main-title-color);

}

.subtitle-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:  var(--main-text-color);
}

/*-----------subject----------*/

.section-subject {
    background: #FFFFFF;
}

.subject-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:  var(--main-title-color);
}

/*-----------team----------*/

.section-team {
    background: #F5F4FA;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:  #212121;
}

.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color:  var(--main-title-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color:  var(--main-text-color);
}

/*-----------footer----------*/

.footer {
    background-color: #2F303A;
}

.footer-logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-contact {
    
}

.footer-item-pre {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF99;

}

/*-----------button-section----------*/

.button-section {
    background: #FFFFFF;

}
.button-list {
}
.button-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    color: var(--main-title-color);
}

.button-hover:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}

.sutitle-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
}

.tipe-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}